* {
	font-family: font-family: 'Raleway', sans-serif;
}

.navbar {
	background-color: #54BBC3;
}

#jumbotron-index {
	background-image: url("../images/landing.jpg"); 
	background-attachment: scroll;
 	background-position: center;
	 background-repeat: no-repeat;
 	background-size: cover;
 	min-height: 650px;
 	
 }


#jumbotron-courses {
	background-image: url("../images/educ1.jpg"); 
	background-attachment: scroll;
 	background-position: center;
	background-repeat: no-repeat;
 	background-size: cover;
 	min-height: 650px; 
 	text-align: center;
}

#jumbotron-courses-fetching, #jumbotron-delete-fetching, #jumbotron-logout, #jumbotron-profile-fetching {
	background-color: #F2B90C;
	background-image: url("../images/educ2.jpg");
	background-attachment: scroll;
 	background-position: center;
	background-repeat: no-repeat;
 	background-size: cover; 
}


#h1-index, #h1-courses {
	font-size: 80px;
	font-family: 'Rubik', sans-serif;
	
}


#h1-logout, #h2-edit, #h2-login, #h2-create {	
	font-family: 'Rubik', sans-serif;
}


#add-course-form.container {
	padding-top: 50px;
}

.btn {
	background-color: #54BBC3;
	color: white;
}

.card {
	border-color: #54BBC3;

}


.footer {
	background-color: #54BBC3;
}